@import "theme.dark.css" (prefers-color-scheme: dark);
@import "theme.light.css" (prefers-color-scheme: light);

$wrapper-padding-inline: 2rem;
$min-height: 2rem;
$progressBar-height: 1rem;

// 첫번째 화면 배경 컬러
$bg: var(--bg);
// 페이지 1 컬러
$bgVariant: var(--bgVariant);
// 텍스트 컬러
$txt: var(--txt);
// 페이지 바 컬러
$surface-transparent: var(--surface-transparent);
// 인디케이트 바 뒷부분 컬러
$surface: var(--surface);
// 페이지들 글자의 컬러
$onSurface: var(--onSurface);
// 이동 바의 컬러
$accent: var(--accent);

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

html {
  color-scheme: light dark;
  // 버튼 눌렀을때 툭툭말고 부드럽게 움직이게
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
  // 첫번째 화면 배경 컬러
  background: $bg;
  // 텍스트 컬러
  color: $txt;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: calc(80ch + 2 * $wrapper-padding-inline);
  min-height: max(50dvh, $min-height);
  margin-inline: auto;
  padding-inline: $wrapper-padding-inline;
}

header {
  text-align: center;
  //텍스트 줄바꿈
  text-wrap: balance;
  //   한글텍스트잘림현상 해결
  word-break: keep-all;
}

// 홀수페이지마다 다른 색 집어넣기
// nth-child도 있는데 그 차이는 온라인 검색하기
section:nth-of-type(odd) {
  // 페이지 1 컬러
  background-color: $bgVariant;
}

.stickyWrapper {
  display: grid;
  position: relative;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: 1fr;
}

main {
  // 위치 ! 제일 뒤 :1
  z-index: 1;
  grid-column: 1 / span 2;
  grid-row: 1;
  // 컬럼상 1번에 위치 크기는 2 / row 첫번째 칸
}

aside {
  position: sticky;
  // 위치 ! 제일 위 :3
  z-index: 3;
  top: 0;
  grid-column: 1;
  grid-row: 1;
  width: fit-content;
  height: max(100dvh, $min-height);
  // page 사이 여백
  padding-inline: 1rem 1.5rem;
  // 보더 모서리 둥글게 - 오른쪽위, 왼쪽 아래
  border-radius: 0 1rem 1rem 0;
  // 페이지 바 컬러
  background-color: $surface-transparent;
  backdrop-filter: blur(0.25em);
  font-size: 0.875rem;

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;
      // 마우스 커서를 올렸을때 컬러 애니메이션
      transition: color 150ms ease-out;

      // 텍스트 설정

      // 페이지들 텍스트의 컬러
      color: $onSurface;
      //   폰트두께
      font-weight: 600;
      // 앞자리 대문자
      text-transform: capitalize;

      &::before {
        content: "";
        width: 1rem;
        height: 1rem;
        margin-top: 0.125rem;
        // $onSurface: 페이지들 텍스트의 컬러
        border: 0.125rem solid $onSurface;
        border-radius: 999999999px;
        // 마우스 커서를 올렸을때 컬러 애니메이션
        transition: border-color 150ms ease-out;
      }
      // 마우스 커서 올렸을때 컬러 바뀌게
      &:hover {
        color: $accent;
        // 동그란 아이콘 보더
        &::before {
          border-color: $accent;
        }
      }
    }
  }

  a {
    // 밑줄 없애기
    text-decoration: none;
  }
}

.progressBar {
  position: sticky;
  top: 0;
  // 위치 ! 중간 :2
  z-index: 2;
  grid-column: 1 / span 2;
  grid-row: 1;
  width: 100%;
  height: $progressBar-height;
  // 인디케이트 바 뒷부분 컬러
  background-color: $surface;

  .indicator {
    position: absolute;

    // top, right, bottom, left
    inset: 0 0 0 0;
    // transform: scaleX(100%);
    transform-origin: left;
    // 이동 바의 컬러
    background-color: $accent;
  }
}

footer {
  .wrapper {
    min-height: max(100dvh, $min-height);
  }
}

// 웹사이트 가로가 1080px보다 작아질때 aside바 세로로 바뀌기

@media (width < 67.5rem) {
  .stickyWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }

  main {
    grid-column: 1;
    grid-row: 3;
  }

  aside {
    top: $progressBar-height;
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    // page 사이 여백
    height: fit-content;
    padding-block: 1rem;
    padding-inline: unset;
    // 보더 모서리 둥글게 - 오른쪽위, 왼쪽 아래

    // overflow: hidden;
    // overflow: scroll;

    // page 가로 스크롤 안보이도록 하기
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    border-radius: 0 0 1rem 1rem;

    ol {
      display: flex;
      flex-direction: row;
      justify-content: center;
      // 페이지 텍스트 사이 여백
      gap: 3rem;

      // page1, page8 양 옆에 여백
      a:first-of-type li {
        margin-left: $wrapper-padding-inline;
      }
      a:last-of-type li {
        margin-right: $wrapper-padding-inline;
      }
    }
  }

  .progressBar {
    grid-column: 1;
    grid-row: 1;
  }
}

// 세로로 줄어들때 947px 이하 page잘리는 현상 고치기
@media (width < 59.1875rem) {
  aside {
    ol {
      justify-content: flex-start;
    }
  }
}
