:root {
  --bg: #fffbff;
  --bgVariant: #e3e1ec;
  --txt: #1b1b1f;
  --surface-transparent: rgb(228, 225, 230, 50%);
  --surface: #dcd9de;
  --onSurface: #1b1b1f;
  --accent: #4756b2;
}

/* 컬러에 투명도 적용하는 방법
1. 원 아이콘을 눌러 hex값을 rgb로 변환
2. rgb(228, 225, 230); 에 투명도 퍼센트 작성
3. rgb(228, 225, 230, 50%); */
