:root {
  --bg: #1f1f1b;
  --bgVariant: #46464f;
  --txt: #e4e1e6;
  --surface-transparent: rgb(53, 52, 56, 50%);
  --surface: #131316;
  --onSurface: #c8c5ca;
  --accent: #bbc3ff;
}

/* 컬러에 투명도 적용하는 방법
1. 원 아이콘을 눌러 hex값을 rgb로 변환
2. rgb(53, 52, 56); 에 투명도 퍼센트 작성
3. rgb(53, 52, 56, 50%); */
